/*ESTILOS GENERALES*/

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para que ocupe toda la altura */
html {
  height: 100%;
}

/*ESTILOS DEL BODY*/

body {
  font-family: "Montserrat", sans-serif;
  /*   min-height: 100%; */
}

/* Armado de la estructura con GRID Mobile first*/

.grid--container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
}

#footer {
  grid-area: footer;
}

.grid--container {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

/*ESTILOS DEL HEADER*/

header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#navbar {
  background-image: url(../images/consultorio_header.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  /*border: 1px solid black;*/
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  /*border: 1px solid green;*/
}

.nav__list li {
  margin-left: 1.5rem;
  color: #f88a02;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  text-shadow: 2px 2px 4px black;
  /*border: 1px solid blue;*/
}

.nav__link {
  color: #fff7ef;
  text-decoration: none;
  font-weight: bold;
}

a.nav__link:hover {
  color: #f85d5a;
  text-shadow: 2px 2px 4px #6f756b;
}

/*ESTILOS DEL MAIN*/

#main {
  background-image: url(../images/main_background.jpg);
  background-position: center bottom;
  background-size: cover;
}

.display-1-intro {
  color: #475681;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px #fff7ef;
}

.display-1-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.display-1-description {
  font-size: 1rem;
  padding-bottom: 5px;
}

.row--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  /*   width: 100%; */
  /*   background-color: #dfe0df;
  border-radius: 4px; */
  /*border: 2px solid black; /*Esto es para guía*/
}

.col--main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /*border: 2px solid green; /*Esto es para guía*/
}

.image {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.image__main {
  max-width: 400px;
  width: 50%;
}

.video {
  max-width: 560px;
  width: 50%;
}

.video__main {
  max-width: 320px;
  width: 50%;
}

/* Estilos de tarjetas */
/* Estructura GRID responsive de las tarjetas*/

.cards--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: row;
  color: #fff7ef;
  background-size: cover;
  background-position: center center;
  /*   padding: 10rem 0 0; */
  max-width: 280px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.card--1 {
  background-image: url(../images/blanqueamiento1.jpg);
}

.card--2 {
  background-image: url(../images/endodoncia.jpg);
}

.card--3 {
  background-image: url(../images/esteticadental.jpg);
}

.card--4 {
  background-image: url(../images/odontologiagral.jpg);
}

.card--5 {
  background-image: url(../images/ortodoncia.jpg);
}

.card--6 {
  background-image: url(../images/protesis.jpg);
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  padding: 1rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  align-self: flex-end;
}

.card-content__title {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #fff7ef;
}

.card-content__body {
  color: #fff7ef;
  font-size: 0.8rem;
}

/*consultar si el mecanismo de entrada primario del usuario puede hacer hover*/

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff7ef;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background-color: #fff7ef;
  color: black;
}

/*ESTILOS DEL SIDEBAR*/

#sidebar {
  background-image: linear-gradient(to right, #dfe0df, #6f756b);
  border-radius: 4px;
}

a.sidebar__item:hover {
  /*Ver qué estilo le pongo*/
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/* Media query para estructura GRID de MAIN y SIDEBAR en Tablets y PC*/

@media (min-width: 600px) {
  .grid--container {
    grid-template-areas:
      "header  header"
      "sidebar main"
      "footer  footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100px auto;
  }

  .row--main {
    flex-wrap: wrap;
    justify-content: center;
  }

  #sidebar {
    background-image: linear-gradient(to bottom, #dfe0df, #6f756b);
  }

  .display-1-intro {
    font-size: 3rem;
  }

  .display-1-subtitle {
    font-size: 2rem;
  }

  .display-1-description {
    font-size: 1.4rem;
  }
}

/*ESTILOS DEL FOOTER*/

footer {
  background-color: #6f756b;
  width: 100%;
}

.row--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
  width: 100%;
  /*border: 2px solid black; /*Esto es para guía*/
}

.footer__social {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright a {
  text-decoration: none;
  text-align: center;
  color: #fff7ef;
}

.footer__bottom__copyright a:hover {
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/* Íconos Redes Sociales */
.fa-fontColor {
  color: #fff7ef;
  font-size: 2rem;
}

.fa-fontColor:hover {
  color: #f88a02;
}

/* Botón flotante de WhatsApp
.fa-whatsapp {
  font-size: 45px;
  color: white;
  background-color: green;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  position: fixed;
}*/
