@charset "UTF-8";
/*ESTILOS GENERALES*/
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para que ocupe toda la altura */
html {
  height: 100%;
}

/*ESTILOS DEL BODY*/
body {
  font-family: "Montserrat", sans-serif;
  /*   min-height: 100%; */
}

/* Armado de la estructura con GRID Mobile first*/
.grid--container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
}

#footer {
  grid-area: footer;
}

.grid--container {
  display: grid;
  grid-template-areas: "header" "sidebar" "main" "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

/*ESTILOS DEL HEADER*/
header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#bs--navbar {
  background-image: url(../images/consultorio_header.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-radius: 4px;
}

.navbar-toggler {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.55);
  filter: invert(73%) sepia(37%) saturate(6944%) hue-rotate(359deg) brightness(97%) contrast(100%) drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.8));
}

.logo_texto {
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  /*border: 1px solid black;*/
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  /*border: 1px solid green;*/
}

.nav__list li {
  margin-left: 1.5rem;
  color: #f88a02;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  align-self: center;
  text-shadow: 2px 2px 4px black;
  /*border: 1px solid blue;*/
}

.nav__link {
  color: #fff7ef;
  text-decoration: none;
  font-weight: bold;
}

a.nav__link:hover {
  color: #f85d5a;
  text-shadow: 2px 2px 4px #6f756b;
}

/*ESTILOS DEL MAIN*/
#main {
  background-image: url(../images/main_background.jpg);
  background-position: center bottom;
  background-size: cover;
}

.display-1 {
  text-align: center;
}
.display-1-intro {
  color: #475681;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px #fff7ef;
}
.display-1-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}
.display-1-description {
  font-size: 1rem;
  padding-bottom: 5px;
}

.col--main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /*     align-items: center; */
  /*border: 2px solid green;  /*Esto es para guía*/
}

.image {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
.image__main {
  max-width: 400px;
}

.video {
  max-width: 560px;
}
.video__main {
  max-width: 320px;
}

/* Estilos de tarjetas */
/* Escondo el carrousel para vista Mobile*/
#carouselExampleCaptions {
  display: none;
}

/* Estructura GRID responsive de las tarjetas*/
.cards--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  color: #fff7ef;
  background-size: cover;
  background-position: center center;
  max-width: 280px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}
.card--1 {
  background-image: url(../images/blanqueamiento1.jpg);
}
.card--2 {
  background-image: url(../images/endodoncia.jpg);
}
.card--3 {
  background-image: url(../images/esteticadental.jpg);
}
.card--4 {
  background-image: url(../images/odontologiagral.jpg);
}
.card--5 {
  background-image: url(../images/ortodoncia.jpg);
}
.card--6 {
  background-image: url(../images/protesis.jpg);
}
.card-content {
  padding: 1rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  align-self: flex-end;
}
.card-content__title {
  font-weight: 700;
  text-decoration: none;
  text-decoration-color: #fff7ef;
}

.card .card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card .card-content__body {
  color: #fff7ef;
  font-size: 0.8rem;
}

/*consultar si el mecanismo de entrada primario del usuario
puede hacer hover*/
@media (hover) {
  .card-content {
    transform: translateY(70%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff7ef;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background-color: #fff7ef;
  color: black;
}

/*ESTILOS DEL MAIN -- Formularios*/
form {
  max-width: 350px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.btn--submit__contact {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #f88a02;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #f85d5a;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}
label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #f88a02;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

/*ESTILOS DEL SIDEBAR*/
#sidebar {
  background-image: linear-gradient(to right, #dfe0df, #6f756b);
  border-radius: 4px;
}

.row--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  row-gap: 10px;
  /*border: 2px solid black; /*Esto es para guía*/
}

a.sidebar__item:hover {
  /*Ver qué estilo le pongo*/
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/* Media query para estructura GRID de MAIN y SIDEBAR en Tablets y PC*/
@media (min-width: 992px) {
  /* Escondo las tarjetas y el logo para vista Tablets y PC*/
  .cards--container {
    display: none;
  }
  .logo_texto {
    display: none;
  }
  /* Muestro el carrousel para vista Tablets y PC*/
  #carouselExampleCaptions {
    display: inline-block;
  }
  .carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.75));
  }
  .grid--container {
    grid-template-areas: "header  header" "sidebar main" "footer  footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100px auto;
  }
  .row--main {
    flex-wrap: wrap;
    justify-content: center;
  }
  #sidebar {
    background-image: linear-gradient(to bottom, #dfe0df, #6f756b);
  }
  .display-1-intro {
    font-size: 3rem;
  }
  .display-1-subtitle {
    font-size: 2rem;
  }
  .display-1-description {
    font-size: 1.4rem;
  }
}
/*ESTILOS DEL FOOTER*/
footer {
  background-color: #6f756b;
  width: 100%;
}

.row--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
  width: 100%;
  /*border: 2px solid black; /*Esto es para guía*/
}

.footer__social {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright a {
  text-decoration: none;
  text-align: center;
  color: #fff7ef;
}

.footer__bottom__copyright a:hover {
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/* Íconos Redes Sociales */
.fa-fontColor {
  color: #fff7ef;
  font-size: 2rem;
}

.fa-fontColor:hover {
  color: #f88a02;
}

/* Botón flotante de WhatsApp
.fa-whatsapp {
    font-size: 45px;
    color: white;
    background-color: green;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    position: fixed;
}*/

/*# sourceMappingURL=style.css.map */
