/*ESTILOS GENERALES*/

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para que ocupe toda la altura */
html {
  height: 100%;
}

/*ESTILOS DEL BODY*/

body {
  font-family: "Montserrat", sans-serif;
  /*   min-height: 100%; */
}

/* Armado de la estructura con GRID Mobile first*/

.grid--container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
}

#footer {
  grid-area: footer;
}

.grid--container {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

/* Media query para estructura GRID en Tablets y PC*/

@media (min-width: 600px) {
  .grid--container {
    grid-template-areas:
      "header  header"
      "sidebar main"
      "footer  footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100px auto;
  }

  .row--main {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #sidebar {
    background-image: linear-gradient(to bottom, #dfe0df, #6f756b);
    border-radius: 4px;
  }

  .display-1-intro {
    font-size: 4.5rem;
  }

  .display-1-subtitle {
    font-size: 2.5rem;
  }

  .display-1-description {
    font-size: 1.4rem;
  }
}

/*ESTILOS DEL HEADER*/

header {
  position: sticky;
  top: 0px;
  width: 100%;
}

#navbar {
  background-image: url(../images/consultorio_header.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  /*border: 1px solid black;*/
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  /*border: 1px solid green;*/
}

.nav__list li {
  margin-left: 1.5rem;
  color: #f88a02;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  text-shadow: 2px 2px 4px black;
  /*border: 1px solid blue;*/
}

.nav__link {
  color: #fff7ef;
  text-decoration: none;
  font-weight: bold;
}

a.nav__link:hover {
  color: #f85d5a;
  text-shadow: 2px 2px 4px #6f756b;
}

/*ESTILOS DEL MAIN*/

#main {
  background-image: url(../images/main_background.jpg);
  background-position: center bottom;
  background-size: cover;
}

.display-1-intro {
  color: #475681;
  font-size: 2.5rem;
  font-weight: 700;
}

.display-1-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.display-1-description {
  font-size: 1rem;
  padding-bottom: 5px;
}

.row--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  /*   background-color: #dfe0df;
  border-radius: 4px; */
  /*border: 2px solid black; /*Esto es para guía*/
}

.col--main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /*border: 2px solid green; /*Esto es para guía*/
}

.image {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.image__main {
  max-width: 400px;
  width: 50%;
}

.video {
  max-width: 560px;
  width: 50%;
}

.video__main {
  max-width: 320px;
  width: 50%;
}

/*ESTILOS DEL SIDEBAR*/

#sidebar {
  background-image: linear-gradient(to right, #dfe0df, #6f756b);
  border-radius: 4px;
}

a.sidebar__item:hover {
  /*Ver qué estilo le pongo*/
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/*ESTILOS DEL FOOTER*/

footer {
  background-color: #6f756b;
  width: 100%;
}

.row--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
  width: 100%;
  /*border: 2px solid black; /*Esto es para guía*/
}

.footer__social {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright {
  color: #fff7ef;
  text-align: center;
  padding: 5px;
}

.footer__bottom__copyright a {
  text-decoration: none;
  text-align: center;
  color: #fff7ef;
}

.footer__bottom__copyright a:hover {
  transition: background-color 0.5s;
  color: #f85d5a;
  background-color: #fff7ef;
}

/* Íconos Redes Sociales */
.fa-fontColor {
  color: #fff7ef;
  font-size: 2rem;
}

.fa-fontColor:hover {
  color: #f88a02;
}

/* Botón flotante de WhatsApp
.fa-whatsapp {
  font-size: 45px;
  color: white;
  background-color: green;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  position: fixed;
}*/
