/* Estructura GRID responsive de las tarjetas - COMPRAS*/

.cartCards--container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 1rem;
	justify-items: center;
	padding: 2rem
}

.cartCard {
	display: flex;
	flex-direction: row;
	color: map-get($colors , color-cremita);
	background-position: center center;
	max-width: 280px;
	height: 300px;
	border-radius: 1rem;
	overflow: hidden;
	transition: transform 500ms ease;
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);

	&-content {
		min-height: 230px;
	}

	&--0 {
		@include bkg_img("../images/cartCard--0.webp");
	}

	&--1 {
		@include bkg_img("../images/cartCard--1.webp");
	}

	&--2 {
		@include bkg_img("../images/cartCard--2.webp");
	}

	&--3 {
		@include bkg_img("../images/cartCard--3.webp");
	}

	&--4 {
		@include bkg_img("../images/cartCard--4.webp");
	}

	&--5 {
		@include bkg_img("../images/cartCard--5.webp");
	}

	&--6 {
		@include bkg_img("../images/cartCard--6.webp");
	}

	&--nuevo {
		@include bkg_img("../images/cartCard--nuevo.webp");
		min-width: 280px;
	}

	&-content {
		padding: 1rem;
		background: linear-gradient(black, rgba(0, 0, 0, 0.5));
		align-self: flex-end;
		min-width: 280px;

		&__title {
			font-weight: 700;
			text-decoration: none;
			text-decoration-color: map-get($colors , color-cremita);
		}
	}
}

.cartCard .cartCard:hover,
.cartCard:focus-within {
	transform: scale(1.05);
}

.cartCard .cartCard-content__body {
	color: map-get($colors , color-cremita);
	font-size: 0.8rem;
}

/*consultar si el mecanismo de entrada primario del usuario
puede hacer hover*/

@media (hover) {
	.cartCard-content {
		transform: translateY(70%);
		transition: transform 500ms ease;
	}

	.cartCard:hover .cartCard-content {
		transform: translateY(0);
		transition-delay: 500ms;
	}
}

.button-cart,
.button-cart__purchase {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: map-get($colors , color-cremita);
	background-color: black;
	padding: 0.2rem 1rem;
	border-radius: 0.25rem;
	transition: all 0.5s ease;
}

.button-cart:hover,
.button-cart:focus,
.button-cart__purchase:hover,
.button-cart__purchase:focus {
	background-color: map-get($colors , color-cremita);
	color: black;
}

#verCarrito,
#ordenaCarrito,
#vaciaCarrito,
#agregarProducto {
	cursor: pointer;
	width: fit-content;
	align-self: center;
}

.eliminarProducto {
	font-weight: 700;
	cursor: pointer;
	color: red;
}

.agregarUnidad,
.quitarUnidad {
	font-weight: 700;
	cursor: pointer;
	color: map-get($colors , color-cremita);
}