/*ESTILOS DEL HEADER*/

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#bs--navbar {
    background-image: url(../images/consultorio_header.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    border-radius: 4px;
}

.navbar-toggler,
.navbar-toggler-icon {
    filter: drop-shadow(2px 2px 3px rgb(255, 255, 255, 0.8));
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    /*border: 1px solid black;*/
}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    /*border: 1px solid green;*/
}

.nav__list li {
    margin-left: 1.5rem;
    color: $color-naranja-logo;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    align-self: center;
    text-shadow: 2px 2px 4px black;
    /*border: 1px solid blue;*/
}

.nav__link {
    color: $color-cremita;
    text-decoration: none;
    font-weight: bold;
}

a.nav__link:hover {
    color: $color-coral-resaltado;
    text-shadow: 2px 2px 4px #6f756b;
}