/*ESTILOS DEL HEADER*/

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#bs--navbar {
    @include bkg_img("../images/consultorio_header.jpg");
    /* background-image: url(../images/consultorio_header.jpg); */
    background-position: center center;
    /* background-size: cover; */
    width: 100%;
    border-radius: 4px;
}

.navbar-toggler {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.55);
    filter: invert(73%) sepia(37%) saturate(6944%) hue-rotate(359deg) brightness(97%) contrast(100%) drop-shadow(2px 2px 3px rgb(255, 255, 255, 0.8));

}

/* .logo_texto {
    max-width: 100%;
} */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    /*border: 1px solid black;*/
}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    /*border: 1px solid green;*/
}

.nav__list li {
    margin-left: 1.5rem;
    color: map-get($colors , color-naranja-logo);
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    align-self: center;
    text-shadow: 2px 2px 4px black;
    /*border: 1px solid blue;*/
}

.nav__link {
    color: map-get($colors , color-cremita);
    text-decoration: none;
    font-weight: bold;
}

a.nav__link:hover {
    color: map-get($colors , color-coral-resaltado);
    text-shadow: 2px 2px 4px #6f756b;
}