/*ESTILOS DEL MAIN*/

#main {
    background-image: url(../images/main_background.jpg);
    background-position: center bottom;
    background-size: cover;
}

.display-1 {
    text-align: center;

    &-intro {
        color: #475681;
        font-size: 2.5rem;
        font-weight: 700;
        text-shadow: 2px 2px 4px $color-cremita;
    }

    &-subtitle {
        font-size: 1.5rem;
        font-weight: 400;
    }

    &-description {
        font-size: 1rem;
        padding-bottom: 5px;
    }
}

.col--main {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /*border: 2px solid green;  /*Esto es para guía*/
}

.image {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;

    &__main {
        max-width: 400px;
    }
}

.video {
    max-width: 560px;

    &__main {
        max-width: 320px;
    }
}

/* Estilos de tarjetas */

/* Escondo el carrousel para vista Mobile*/

#carouselExampleCaptions {
    display: none;
}

/* Estructura GRID responsive de las tarjetas*/

.cards--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    color: $color-cremita;
    background-size: cover;
    background-position: center center;
    max-width: 280px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);

    &--1 {
        background-image: url(../images/blanqueamiento1.jpg);
    }

    &--2 {
        background-image: url(../images/endodoncia.jpg);
    }

    &--3 {
        background-image: url(../images/esteticadental.jpg);
    }

    &--4 {
        background-image: url(../images/odontologiagral.jpg);
    }

    &--5 {
        background-image: url(../images/ortodoncia.jpg);
    }

    &--6 {
        background-image: url(../images/protesis.jpg);
    }

    &-content {
        padding: 1rem;
        background: linear-gradient(black, rgba(0, 0, 0, 0.5));
        align-self: flex-end;

        &__title {
            font-weight: 700;
            text-decoration: none;
            text-decoration-color: $color-cremita;
        }
    }
}

.card .card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card .card-content__body {
    color: $color-cremita;
    font-size: 0.8rem;
}

/*consultar si el mecanismo de entrada primario del usuario
puede hacer hover*/

@media (hover) {
    .card-content {
        transform: translateY(70%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $color-cremita;
    background-color: black;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
}

.button:hover,
.button:focus {
    background-color: $color-cremita;
    color: black;
}

/*ESTILOS DEL MAIN -- Formularios*/

form {
    max-width: 350px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.btn--submit__contact {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: $color-naranja-logo;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $color-coral-resaltado;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;

    &.light {
        font-weight: 300;
        display: inline;
    }
}

.number {
    background-color: $color-naranja-logo;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}