/*ESTILOS DEL SIDEBAR*/

#sidebar {
    background-image: linear-gradient(to right, #dfe0df, #6f756b);
    border-radius: 4px;
}

.row--main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    row-gap: 10px;
    /*border: 2px solid black; /*Esto es para guía*/
}

a.sidebar__item:hover {
    /*Ver qué estilo le pongo*/
    transition: background-color 0.5s;
    color: map-get($colors , color-coral-resaltado);
    background-color: map-get($colors , color-cremita);
}

/* Media query para estructura GRID de SIDEBAR en Tablets y PC*/

@media (min-width: 992px) {

    .row--main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #sidebar {
        background-image: linear-gradient(to bottom, #dfe0df, #6f756b);
    }

}